.sidebar {
    position: absolute;
    top: 0;
    right: 75%;
    bottom: 0;
    left: 0;
    background: gray;
}
.heading {
    position: relative;
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: 30px;
    font-family: 'Autour One';
}

.btn {
    position: relative;
    margin-top: 10%;
    margin-left: 7%;
    margin-bottom: 10%;
    font-family: 'Autour One';
}

.chat-room-list .chat-room {
    position: relative;
    display: block;
    margin-left: 10%;
    margin-bottom: 5%;
    font-size: 15px;
    font-family: 'Autour One';
}

.container {
    font-family: 'Autour One';
}

.active-chat-room-content {
    width: 70%;
}

td {
    margin: 5%;
    height: 30px;
}

th {
    height: 50px;
}

.messages {
    height: 30px;
}

.message-content {
    width: 90%;
    margin: 5%
}

.send-time {
    width: 10%;
}

.active-chat-room-content {
    position: absolute;
    left: 25%;
    margin: 2%;
}

.room-title {
    font-size: 20px;
    width: 100%;
}

.message-to-send {
    width: 100%;
    
}
.send-btn {
    position: fixed;
    right: 0;
    bottom: 0;
}

.msg-content {
    position: fixed;
    bottom: 0;
    left: 25%;
    border: solid blue;
    width: 80%;
}